# Laboratuvar: Veri Kümesini Keşfetme
Tahmini süre: 30 dakika

Giriş
Veri keşfi, veri analizinin ilk aşamasıdır ve burada verilerin özelliklerini anlamayı, kalıpları belirlemeyi ve potansiyel içgörüler ortaya çıkarmayı amaçlıyoruz. Bu, sonraki analizler hakkında bilinçli kararlar almamıza yardımcı olan çok önemli bir adımdır.

Hedefler
Bu laboratuvarı tamamladıktan sonra şunları yapabileceksiniz:

Bir veri kümesinin temel özelliklerini özetlemek.
Veri analizinde yaygın olarak kullanılan farklı veri türlerini belirlemek.
Gerekli kütüphaneyi yüklemek.

In [1]:
!pip install pandas
import pandas as pd

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.1-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 138.9 MB/s eta 0:00:00
Downloading numpy-2.4.1-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 165.5 MB/s eta 0:00:00
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.4.1 pandas-2.3.3 tzdata-2025.3

# Veri setini yükle
Verileri oku
CSV dosyalarını okumak için pandas.read_csv() fonksiyonunu kullanıyoruz.

Aşağıdaki fonksiyonlar veri setini tarayıcınıza indirecektir:

In [4]:
# Load the dataset directly from the URL
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"

Pandas'ın `read_csv()` yöntemini kullanarak verileri bir veri çerçevesine yükleyin.

In [6]:
df = pd.read_csv(file_path)

# Uygulamalı Laboratuvar Çalışması
Veri kümesini keşfedin
Veri kümesinin nasıl görüneceğine dair bir fikir edinmek için veri kümesinin ilk 5 satırını yazdırmak iyi bir fikirdir.

Veri kümenizden ilk 5 satır ve sütunu görüntüleyin.

In [7]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

# Veri setindeki satır ve sütun sayısını bulun
Öncelikle veri setindeki satır ve sütun sayılarını inceleyerek başlayın.

Veri setindeki satır sayısını yazdırın.

In [11]:
print("Veri setinde toplam satır sayısı : ",df.shape[0])

Veri setinde toplam satır sayısı :  65457

In [12]:
print("Veri setinde toplam sutun sayısı : ",df.shape[1])

Veri setinde toplam sutun sayısı :  114

# Her sütunun veri türünü belirleyin
Veri kümesini inceleyin ve her sütunun veri türünü belirleyin.

Tüm sütunların veri türünü yazdırın.

In [15]:
print(df.dtypes)

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

Anket katılımcılarının ortalama yaşını yazdırın.

In [24]:
# print("Anket katılımcılarının ortalama yaşı:", df['Age'].mean())  bu olmaz cunku ıcnde string varmıs mecbur dnosturdecz sonra eskihaline almalıyız

import pandas as pd

# 1. Veriyi en baştan, temiz haliyle tekrar okuyalım (NaN hatasını düzeltmek için şart)
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"
df = pd.read_csv(file_path)

# 2. Yaş aralıklarını temsil eden sayısal orta noktaları tanımlayalım
# Bu orta noktalar anket analizlerinde standart kabul edilir.
age_map = {
    'Under 18 years old': 15,
    '18-24 years old': 21,
    '25-34 years old': 29.5,
    '35-44 years old': 39.5,
    '45-54 years old': 49.5,
    '55-64 years old': 59.5,
    '65 years or older': 70
}

# 3. Metinleri sayılara haritalayalım
df['Age_Numeric'] = df['Age'].map(age_map)

# 4. Sayısal ortalamayı hesaplayalım
ortalama = df['Age_Numeric'].mean()

print(f"Hesaplanan Yaklaşık Ortalama Yaş: {ortalama:.1f}")

Hesaplanan Yaklaşık Ortalama Yaş: 33.0

In [25]:
#hesapladıgımız veriyisilmeliyiz
# Mükerrer satır sayısını bul
duplicate_count = df.duplicated().sum()
print("Veri setindeki mükerrer satır sayısı:", duplicate_count)

Veri setindeki mükerrer satır sayısı: 20

In [26]:
# Mükerrer satırları sil ve yeni bir dataframe'e kaydet
df_cleaned = df.drop_duplicates()

# Kontrol etmek için yeni boyutu yazdır
print("Temizlik sonrası veri seti boyutu:", df_cleaned.shape)

Temizlik sonrası veri seti boyutu: (65437, 115)

Bu veri seti, dünya çapında yapılan bir anketin sonucudur. Ülke sütununda kaç farklı ülke olduğunu yazdırın.

In [17]:
print("Ankette temsil edilen toplam ülke sayısı: ", df['Country'].nunique())

Ankette temsil edilen toplam ülke sayısı:  185