## Eksik Değerleri Doldurma
Bu laboratuvarda, Stack Overflow anket veri setini kullanarak temel veri işleme tekniklerini uygulayacaksınız. Birincil odak noktası, eksik verileri ele almak ve veri kalitesini sağlamaktır. Şunları yapacaksınız:

Verileri Yükleme: Pandas kütüphanesini kullanarak veri setini bir DataFrame'e aktarın.

Verileri Temizleme: Veri bütünlüğünü korumak için yinelenen girişleri belirleyin ve kaldırın.

Eksik Değerleri Ele Alma: Eksik değerleri tespit edin, uygun stratejilerle doldurun ve analiz için eksiksiz ve güvenilir bir veri seti oluşturmak üzere doldurma işlemini doğrulayın.

Bu laboratuvar, herhangi bir veri analizi projesinde çok önemli bir adım olan gerçek dünya veri setlerini etkili bir şekilde ön işleme ve temizleme becerileriyle donatır.

Hedefler
Bu laboratuvarda şunları gerçekleştireceksiniz:

Veri setindeki eksik değerleri belirleyin.

Veri setindeki eksik değerleri doldurmak için teknikler uygulayın.

Veri setindeki verileri normalleştirmek için uygun teknikler kullanın.

Gerekli kütüphaneyi yükleyin.

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.1-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 15.2 MB/s eta 0:00:0000:01
Downloading numpy-2.4.1-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 20.5 MB/s eta 0:00:00:00:01
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.4.1 pandas-2.3.3 tzdata-2025.3

# Adım 1: Gerekli Kütüphaneleri İçe Aktarın¶

In [3]:
import pandas as pd

## Adım 2: Veri Setini Bir Veri Çerçevesine Yükleyin
Verileri Okuyun
Aşağıdaki fonksiyonlar veri setini tarayıcınıza indirecektir:

In [4]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]


## 3. Adım. Yinelenenleri Bulma ve Kaldırma
Görev 1: Veri kümesindeki yinelenen satırları belirleyin.

# 1. Veri kümesindeki toplam yinelenen satır sayısını sayalım
duplicate_count = df.duplicated().sum()
print(f"Veri kümesindeki toplam yinelenen satır sayısı: {duplicate_count}")

# 2. Eğer varsa, bu yinelenen satırlara bir göz atalım
if duplicate_count > 0:
    print("\nYinelenen satırlardan ilk 5 örnek:")
    display(df[df.duplicated()].head())
else:
    print("\nYinelenen satır bulunamadı.")

Görev 2: Veri çerçevesinden yinelenen satırları kaldırın.

In [7]:
# 1. Yinelenen satırları kaldıralım
df.drop_duplicates(inplace=True)

# 2. Kaldırma işleminden sonra tekrar kontrol ederek işlemi doğrulayalım
final_duplicates = df.duplicated().sum()
print(f"Kaldırma işlemi sonrası kalan yinelenen satır sayısı: {final_duplicates}")
print(f"Veri setinin yeni boyutu (Satır, Sütun): {df.shape}")

Kaldırma işlemi sonrası kalan yinelenen satır sayısı: 0
Veri setinin yeni boyutu (Satır, Sütun): (65437, 114)

## Adım 4: Eksik Değerleri Bulma
Görev 3: Tüm sütunlardaki eksik değerleri bulun.

In [10]:
# 1. Tüm sütunlar için eksik değerlerin (null) toplam sayısını belirleyelim
missing_values_all = df.isnull().sum()

# 2. Sonuçları daha iyi analiz etmek için sadece eksik değeri olan ilk 20 sütunu görelim
print("Sütun bazında eksik değerlerin sayıları (İlk 20):")
print(missing_values_all[missing_values_all > 0].head(20))

# 3. Veri setindeki toplam eksik hücre sayısını da görelim
print(f"\nVeri setindeki toplam toplam eksik hücre sayısı: {missing_values_all.sum()}")

Sütun bazında eksik değerlerin sayıları (İlk 20):
RemoteWork                10631
CodingActivities          10971
EdLevel                    4653
LearnCode                  4949
LearnCodeOnline           16200
TechDoc                   24540
YearsCode                  5568
YearsCodePro              13827
DevType                    5992
OrgSize                   17957
PurchaseInfluence         18031
BuyNewTool                20256
BuildvsBuy                22079
TechEndorse               21769
Country                    6507
Currency                  18753
CompTotal                 31697
LanguageHaveWorkedWith     5692
LanguageWantToWorkWith     9685
LanguageAdmired           14565
dtype: int64

Veri setindeki toplam toplam eksik hücre sayısı: 2890957


Görev 4: RemoteWork sütununda kaç satırın eksik olduğunu bulun.

In [11]:
# 1. RemoteWork sütunundaki eksik değerleri sayalım
remote_work_missing = df['RemoteWork'].isnull().sum()

print(f"'RemoteWork' sütunundaki toplam eksik satır sayısı: {remote_work_missing}")

# 2. Ek bilgi: Bu eksiğin tüm veri setine oranını hesaplayalım
remote_work_ratio = (remote_work_missing / len(df)) * 100
print(f"RemoteWork sütunundaki eksiklik oranı: %{remote_work_ratio:.2f}")

'RemoteWork' sütunundaki toplam eksik satır sayısı: 10631
RemoteWork sütunundaki eksiklik oranı: %16.25

## Adım 5. Eksik Değerlerin Doldurulması
Görev 5: RemoteWork sütunundaki değer sayılarını bulun.

In [14]:
# Her bir kategorinin kaç kez tekrar ettiğini bulalım
remote_work_counts = df['RemoteWork'].value_counts()
print("RemoteWork Kategorileri ve Kişi Sayıları:")
print(remote_work_counts)

RemoteWork Kategorileri ve Kişi Sayıları:
RemoteWork
Hybrid (some remote, some in-person)    23015
Remote                                  20831
In-person                               10960
Name: count, dtype: int64

Görev 6: Uzaktan Çalışma sütununda en sık (çoğunlukla) görülen değeri belirleyin.

In [15]:
# En sık tekrar eden değeri (Mod) bulalım
remote_mode = df['RemoteWork'].mode()[0]
print(f"\nRemoteWork sütunundaki en yaygın (çoğunluk) değer: {remote_mode}")

RemoteWork sütunundaki en yaygın (çoğunluk) değer: Hybrid (some remote, some in-person)

Görev 7: RemoteWork sütunundaki tüm boş satırları çoğunluk değeriyle doldurun (değiştirin).

In [16]:
# Eksik değerleri mod (çoğunluk) değeri ile dolduralım
df['RemoteWork'].fillna(remote_mode, inplace=True)

# İşlemi doğrulayalım
print(f"Doldurma sonrası RemoteWork sütununda kalan eksik sayısı: {df['RemoteWork'].isnull().sum()}")

Doldurma sonrası RemoteWork sütununda kalan eksik sayısı: 0

/tmp/ipykernel_332/4104215330.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RemoteWork'].fillna(remote_mode, inplace=True)

Görev 8: Ücretlendirmeyle ilgili sütunları kontrol edin ve dağılımlarını açıklayın.

In [21]:
# İçinde "Comp" veya "Currency" geçen tüm sütunları bulalım
actual_salary_cols = [col for col in df.columns if 'Comp' in col or 'Currency' in col]
print("Veri setindeki gerçek ücretlendirme sütunları:")
print(actual_salary_cols)

Veri setindeki gerçek ücretlendirme sütunları:
['Currency', 'CompTotal', 'AIComplex', 'ConvertedCompYearly']

In [22]:
# 1. Gerçek ücretlendirme sütunlarını seçelim
salary_cols = ['Currency', 'CompTotal', 'ConvertedCompYearly']

# 2. Eksik değerleri ve temel istatistikleri görelim
print("### Ücretlendirme Sütunları Analizi ###")
print(df[salary_cols].isnull().sum())

print("\n### Sayısal Dağılım Özeti ###")
display(df[['CompTotal', 'ConvertedCompYearly']].describe())

# 3. Para birimi çeşitliliğini kontrol edelim (Dağılım açıklaması için önemli)
print("\n### En Çok Kullanılan 5 Para Birimi ###")
print(df['Currency'].value_counts().head(5))

### Ücretlendirme Sütunları Analizi ###
Currency               18753
CompTotal              31697
ConvertedCompYearly    42002
dtype: int64

### Sayısal Dağılım Özeti ###

           CompTotal  ConvertedCompYearly
count   3.374000e+04         2.343500e+04
mean   2.963841e+145         8.615529e+04
std    5.444117e+147         1.867570e+05
min     0.000000e+00         1.000000e+00
25%     6.000000e+04         3.271200e+04
50%     1.100000e+05         6.500000e+04
75%     2.500000e+05         1.079715e+05
max    1.000000e+150         1.625660e+07

### En Çok Kullanılan 5 Para Birimi ###
Currency
EUR European Euro            12730
USD\tUnited States dollar    10939
INR\tIndian rupee             2905
GBP\tPound sterling           2614
CAD\tCanadian dollar          1639
Name: count, dtype: int64